<h1>Account Activation</h1>

<p>
  Hi. Please click the following URL to activate your account.
</p>
<p>
  <%= link_to edit_activation_url(@user.activation_code), edit_activation_url(@user.activation_code) %>
</p>
