<%= simple_form_for(@entry) do |f| %>
  <div class='row'>
    <div class='small-12 medium-6 large-4 columns'>
      <%= f.input :title %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 medium-8 columns'>
      <%= f.input :body %>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.button :submit, class: 'small-12 medium-3 large-2' %>
    </div>
  </div>
<% end %>
